/* Theme */

main {
	background-image: url(Ciel.jpg);
	color: #1E1E1E;
	background-size:cover;
	background-position: center;
}

.icons-social a {
	color:  #1E1E1E;
	font-style: bold;
}

.icons-social a svg path{
	fill:  #1E1E1E;
}